@tailwind base;
@tailwind components;
@tailwind utilities;



/*** SWIPE LIST OVERRIDES **/
.swipe-action__leading {
    background-color: green;
    border-radius: 0.75rem;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    font-family: 'Courier New', Courier, monospace;
}

.swipe-action__trailing {
    background-color: #db2777;
    border-radius: 0.75rem;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    
    
}

.swipeable-list .swipe-action {
    display: flex;
    justify-content: center;
    align-items: center;
    height: screen;
    font-size: 2rem;
    text-align: right;
    font-family: 'Courier New', Courier, monospace;
    
    
}